<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Main Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Header CSS -->
    <link rel="stylesheet" href="/header.css" type="text/css" />
    <!-- Navbar CSS -->
    <link rel="stylesheet" href="/navbar.css" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="main">
      <!-- Side navigation -->
      <div class="sidenav">
      <a href="#myDIV"><img class="logo" src="smarttodologo.png"/></a>
        <a class="eat" href="#eat">To Eat</a>
        <a class="watch" href="#watch">To Watch</a>
        <a class="buy" href="#buy">To Buy</a>
        <a class="read" href="#read">To Read</a>
      </div>

      <!-- Page content -->

      <div id="myDIV" class="header">
        <h2 style="margin: 5px">My To Do List</h2>
        <input type="text" id="myInput" placeholder="Title..." />
        <button class="addBtn">Add</button>
      </div>

      <section class="category-title">
        <div id="eat" class="collapsible to-eat">
          <h3 >To Eat</h3>
          <span class="arrow">▼</span>
        </div>
        <div class="content">
          <ul id="myUL-eat">
            <li class="li-delete">
              Olive Garden
              <div>

                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
              </div>
            </li>
            <li>
              Red Lobster
              <div>
                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
              </div>
            </li>
            <li>
              The Keg
              <div>
                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
              </div>
            </li>
            <li>
              Buy eggs
              <div>
                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <br />

      <section class="category-title">
        <div id="watch" class="collapsible to-watch">
          <h3>To Watch</h3>
          <span class="arrow">▼</span>
        </div>
        <div class="content">
          <ul id="myUL-watch">
            <li>
              Game of Thrones
              <div>
                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
              </div>
            </li>
            <li>
              Pulp Fiction
              <div>
                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
              </div>
            </li>
            <li>
              Titanic
              <div>
                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <br />

      <section class="category-title">
        <div id="buy" class="collapsible to-buy">
          <h3>To Buy</h3>
          <span class="arrow">▼</span>
        </div>
        <div class="content">
          <ul id="myUL-buy">
            <li>
              Eliptical Machine
              <div>
                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
              </div>
            </li>
            <li>
              Rolex
              <div>
                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <br />

      <section class="category-title">
        <div id="read" class="collapsible to-read">
          <h3>To Read</h3>
          <span class="arrow">▼</span>
        </div>
        <div class="content">
          <ul id="myUL-read">
            <li>
              The Da Vinci Code
              <div>
                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
              </div>
            </li>
            <li>
              The Lost Symbol
              <div>
                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
              </div>
            </li>
            <li>
              Eclipse
              <div>
                <button class="editBtn">Edit</button>
                <button class="deleteBtn">Delete</button>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <script>

    /* var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    // Create a "close" button and append it to each list item
    var myNodelist = document.getElementsByTagName("LI");
    var i;
    for (i = 0; i < myNodelist.length; i++) {
      var span = document.createElement("SPAN");
      var txt = document.createTextNode("\u00D7");
      span.className = "close";
      span.appendChild(txt);
      myNodelist[i].appendChild(span);
    }
    // Click on a close button to hide the current list item
    var close = document.getElementsByClassName("li-delete");
    var i;
    for (i = 0; i < close.length; i++) {
      close[i].onclick = function () {
        var div = this.parentElement;
        div.style.display = "none";
      }
    }
    // Add a "checked" symbol when clicking on a list item
    var list = document.querySelector('ul');
    list.addEventListener('click', function (ev) {
      if (ev.target.tagName === 'LI') {
        ev.target.classList.toggle('checked');
      }
    }, false); */


    </script>
  </body>
</html>
