<!DOCTYPE html>
<html lang="en">

<head>
  <title>Main Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <h1>To Eat</h1>
  <div>
    <form class="to-eat-form" method="POST" action="/toeat">
      <label>Type Your Item</label>
      <input id="id" name="toDoItem" type="text">
      <button type="submit" id="fetch-users">Let's eat</button>
    </form>
  </div>
  <article class="new-items">
  </article>
  <ul id="users"></ul>
</body>

</html>
