body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818182;
    display: flex;
    font-family: sans-serif;
}

.eat {
  border-bottom: solid 0.5px lightgray;
  border-right: solid 10px #ffb3ba;
  border-radius: 5px;
  margin-bottom: 2px;

}

.watch {
  border-bottom: solid 0.5px lightgray;
    border-radius: 5px;
    border-right: solid 10px #ffdfba;
    margin-bottom: 2px;

}

.buy {
  border-bottom: solid 0.5px lightgray;
    border-radius: 5px;
    border-right: solid 10px #baffc9;
    margin-bottom: 2px;
}

.read {
  border-bottom: solid 0.5px lightgray;
    border-radius: 5px;
    border-right: solid 10px #bae1ff;
    margin-bottom: 2px;
}

.sidenav a:hover {
  color: rgb(213, 157, 213);
}

.logo {
    width: 100%;
    display: flex;
    margin-top: -20px
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
